{% extends 'base.html' %}

{% block content %}
<h1>Esta es mi página web</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus facilis quo, consequuntur aliquam suscipit corrupti dolore eveniet quasi blanditiis voluptates sit, cumque perspiciatis inventore nam cum soluta tempore debitis corporis illo commodi minima ipsum deleniti aspernatur! Illum nostrum nobis, deserunt blanditiis quam magnam libero voluptatum deleniti pariatur nam architecto, voluptas minus, molestias quidem! Perspiciatis corporis vero quisquam asperiores. Tenetur, quasi quo veniam laborum odio est expedita magni minus? Veritatis, ipsum. Tempora reiciendis dolore optio quidem quibusdam nulla temporibus similique fuga labore dignissimos iste, odio deserunt error maxime! Recusandae id consequuntur sit dolores modi illo delectus, ratione perspiciatis itaque velit. At.</p>
{% endblock %}