{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit nihil reprehenderit, tempore iusto ea alias ab ad, eum totam nesciunt excepturi laudantium exercitationem perspiciatis nostrum? Distinctio dolores, velit beatae non suscipit dolorum? Molestias nulla odio molestiae rerum, iusto placeat natus, distinctio aperiam fugit dolorem reiciendis praesentium voluptas totam dolores.</p>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'signin' %}">
                    SignIn
                </a>
                <a class="btn btn-primary" href="{% url 'signup' %}">
                    SignUp
                </a>
            </div>
        </section>
    </main>
{% endblock %}